<style>
    h1 {
        margin-top: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 45px;
        font-weight: 300;
        letter-spacing: 6px;
        margin-bottom: 4rem;
        color: rgb(45, 66, 97);
    }

    form {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 20px auto;

    }

    input {
        margin-bottom: 10px;
    }

    .btn-primary:hover {
        box-shadow: 0px 0px 11px rgba(13, 110, 253, 0.6);
    }


    @media screen and (max-width: 521px) {
        form {
            width: 405px;
        }

        h1 {
            font-size: 28px;
        }
    }
</style>

<h1>Change Password</h1>

<div class="form-container">

    <form action="/profile/settings/account/changePassword" method="POST">

        <input class="form-control" name="emailAddress" type="email" placeholder="Email Address" />
        <br>
        <input class="form-control" name="currentpassword" type="password" placeholder="Current Password" />
        <br>
        <input class="form-control" name="newpassword" type="password" placeholder="New Password" />
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Change Password</button>

    </form>

</div>