<style>
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 0px;
        width: 90%;
        height: 75%;
    }

    h1 {
        text-align: left;
        text-transform: capitalize;
        font-size: 45px;
        font-weight: 300;
        letter-spacing: 6px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-left: 5%;
        color: rgb(45, 66, 97);
    }

    small {
        padding-left: 5%;
        margin-bottom: 0px;
        color: rgb(106, 121, 136);
    }

    .settings-nav {
        border-radius: 4px 0px 0px 4px;
        height: 90%;
        width: 20%;
        background-color: rgb(13, 110, 253);
        padding-top: 2rem;
        padding-left: 1rem;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    ul a {
        color: white;
        text-decoration: none;
    }

    .settings-nav hr {
        color: white;
        width: 90%;
    }

    .settings-detail {
        display: flex;
        flex-direction: column;
        border-radius: 0px 4px 4px 0px;
        height: 90%;
        width: 80%;
        padding: 2rem;
        background-color: white;
    }

    .settings-detail h3,
    h5 {
        margin: 0px;
        padding: 0px;
        color: rgb(45, 66, 97);
    }

    .profile-pic {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .profile-pic-left {
        background-position: center;
        background-size: cover;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        margin-left: 2%;
        margin-right: 5%;
    }

    .profile-pic-right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
    }

    button {
        width: 20%;
    }

    #editBio {
        width: 13%;
    }

    .btn-primary:hover {
        box-shadow: 0px 0px 11px rgba(13, 110, 253, 0.6);
    }


    @media screen and (max-width: 947px) {
        .profile-pic-left {
            width: 4.5rem;
            height: 4.5rem;
        }

        #editImage {
            margin: 20px 0 0 0;
            padding: 2px;
        }

        #editBio {
            margin: 20px 0 0 0;
            padding: 8px;
            width: 20%;
        }


    }

    @media screen and (max-width: 735px) {
        h1 {
            display: none;
        }

        small {
            padding-left: 5%;
            margin-bottom: 0px;
            color: rgb(106, 121, 136);
            font-size: 10px;
            text-align: center;
            padding-bottom: 1rem;
        }

        .main-container {
            width: 90%;
            height: 82%;
            flex-direction: column;
        }

        .settings-nav {
            width: 80%;
            height: 20%;
            padding: 1rem 0 0 1rem;
        }

        ul a {
            font-weight: 300;
            color: white;
            text-decoration: none;
            font-size: 16px;
        }

        button {
            width: 40%;
            margin-top: 0%;
            font-size: 7px;
        }



        #editBio {
            margin-left: 25%;
            padding: 5px 10px 5px 10px;
            font-size: 14px;
            font-weight: 500;
            margin-top: 4px;

        }

        #bio-input {
            font-size: 12px;
            padding: 12px;
        }

        h3 {
            font-size: 18px;
        }

        h5 {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 600px) {

        small {
            font-size: 10px;
            text-align: center;
            padding-bottom: 1rem;
        }

        .main-container {
            width: 80%;
            height: 82%;
            flex-direction: column;
        }

        /* .settings-detail{
        width: 90%;
    } */
        .profile-pic {
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 30px;
        }


        .settings-detail {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 0px 4px 4px 0px;
            height: 90%;
            width: 80%;
            background-color: white;
        }

        .settings-detail h3,
        h5 {
            margin: 0px;
            padding: 0px;
            color: rgb(45, 66, 97);
        }

        /* button {
        width: 20%;
        margin-top: 0%;
    } */

        .btn-primary:hover,
        .btn-outline-primary:hover {
            box-shadow: 0px 0px 11px rgba(13, 110, 253, 0.6);
        }

        .settings-nav {
            width: 80%;
            height: 20%;
            padding: 1rem 0 0 1rem;
        }

        ul a {
            color: white;
            text-decoration: none;
            font-size: 13px;
            font-weight: 500;
        }

        button {
            width: 40%;
            margin-top: 0%;
            font-size: 7px;
        }

        h5 {
            margin-top: -5%;
        }

        #editImage {
            margin-left: 20%;
            padding: 5px 16px 5px 16px;
            font-size: 10px;
            width: 50%;
            font-weight: 500;
        }

        #editBio {
            margin-left: 25%;
            padding: 5px 16px 5px 16px;
            width: 40%;
            font-size: 10px;
            font-weight: 500;
            margin-top: 4px;
        }
    }
</style>

<h1>Profile Settings</h1>
<small>Change your profile & account settings </small>
<div class="main-container">

    <div class="settings-nav">
        <ul>
            <li><a href="/profile/settings/account">Account Info</a></li>
            <hr>
            <li><a href="/profile/settings/profile">Profile</a></li>
        </ul>
    </div>

    <div class="settings-detail">
        <h3>Profile Seetings</h3>
        <hr>

        <div class="profile-pic">
            <div class="profile-pic-left" style="background-image: url('<%= artist.image%>');">
            </div>

            <div class="profile-pic-right">
                <input type="text" class="form-control" placeholder="<%=artist.image%>" readonly>
                <br>
                <button id="editImage" onclick="location.href = '/profile/settings/profile/changeImage'"
                    class="btn btn-primary" type="submit">Change Picture</button>
            </div>
        </div>

        <br>

        <div class="profile-bio">
            <h5>Bio:</h5>
            <textarea id="bio-input" class="form-control" cols="25" rows="2" placeholder="<%=artist.bio%>"
                readonly></textarea>
            <br>

            <button id="editBio" onclick="location.href = '/profile/settings/profile/editBio'" class="btn btn-primary"
                type="submit">Edit Bio</button>
        </div>
    </div>

</div>